#backwards{
    box-shadow: 0px 10px 30px 0px rgba(64, 191, 255, 0.24);
}

#switcher li{
 cursor: pointer;
 padding: 0 0.2rem;
}

#switcher li:hover{
    scale: 125%;
}

.active-filter{
    color: rgb(96, 165, 250);
    border-bottom: 2px rgb(96, 165, 250) solid;
}

/* LOADER CODE */

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

/* RESPONSIVE MOBILE DESIGN */

@media (max-width: 420px) {
    #name{
        font-size: 14px;
    }

    .layout{
        padding: 16px;
    }

    #switcher{
        font-size: 14px;
        padding-bottom: 6px;
    }

    #title{
        font-size: 20px;
    }
}
