#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #222;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.text-blue{
  color: #223263;
}

.bg-brigthblue{
  background-color: #40BFFF;
}

.border-brigthblue{
  border-color: #40BFFF;
}


